
<div class="mt-3 text-center" id="all_seasons">
  <div class="d-flex justify-content-center">
    <h2><%= @team.name %> - All Seasons</h2>
    <a class="mx-3 my-auto" href=<%= "/teams/#{@team.id}" %>><button class="btn btn-sm btn-primary">Back to Team Page</button></a>
    <% if owner?(@team) %>
      <a class="my-auto" href=<%= "/teams/#{@team.id}/seasons/new" %>><button class="btn btn-sm btn-primary">New Season</button></a>
    <% end %>
  </div>
  
  <% if !@team.seasons.empty? %>
    <table class="table mt-3">
      <thead>
        <tr>
          <th>Season</th>
          <th>Next Game</th>
          <th>Record</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @team.seasons.each do |season| %>
          <tr>
            <td><%= season.name %><%= " (Current)" if current_season?(season) %></td>
            <td><%= current_season?(season) ? season.next_game : "-" %></td>
            <td><%= season.record_parsed %></td>
            <td>
              <a href=<%= "/teams/#{@team.id}/seasons/#{season.id}" %>><button class="btn btn-sm btn-primary">Season Page</button></a>
              <% if owner?(@team) %>
                <a href=<%= "/teams/#{@team.id}/seasons/#{season.id}/edit" %>><button class="btn btn-sm btn-primary">Edit Season</button></a>
                <form class="d-inline-block" action=<%= "/teams/#{@team.id}/seasons/#{season.id}" %> method="post">
                  <input id=<%= "hidden_season_#{season.id}" %> type="hidden" name="_method" value="delete">
                  <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                </form>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h3>No Seasons Posted Yet</h3>
  <% end %>

</div>
