<div id="season" class="mt-3 text-center">
  <h2><%= @season.team.name %> - <%= @season.name %> Season - (<%= @season.record_parsed %>)</h2>
  <a class="mx-3" href=<%= "/teams/#{@season.team.id}" %>><button class="btn btn-sm btn-primary">Back to Team Page</button></a>
  
  <div class="my-3 d-flex justify-content-center">
    <h3>Games</h3>
    <% if owner?(@season.team) %>
      <a class="mx-3" href=<%= "/teams/#{@season.team.id}/seasons/#{@season.id}/games/new" %>><button class="btn btn-sm btn-primary">Add Game</button></a>
    <% end %>
  </div>

  <% if !@season.games.empty? %>
    <table class="table">
      <thead>
        <tr>
          <th>Game #</th>
          <th>Date / Time</th>
          <th>Opponent</th>
          <th>Home / Away</th>
          <th>Status</th>
          <th>Outcome</th>
          <th>Score</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @season.games.order(:game_datetime).each_with_index do |game, index| %>
          <tr>
            <td><%= index + 1 %></td>
            <td><%= game.game_datetime %></td>
            <td><%= game.opponent %></td>
            <td><%= game.place %></td>
            <td><%= game.status %></td>
            <td><%= game.win_loss %></td>
            <td><%= game.score_formatted %></td>
            <td>
              <a href=<%= "/teams/#{@season.team.id}/seasons/#{@season.id}/games/#{game.id}" %>><button class="btn btn-sm btn-primary">Game Page</button></a>
              <% if owner?(@season.team) %>
                <a href=<%= "/teams/#{@season.team.id}/seasons/#{@season.id}/games/#{game.id}/edit" %>><button class="btn btn-sm btn-primary">Edit Game</button></a>
                <form class="d-inline-block" action=<%= "/teams/#{@season.team.id}/seasons/#{@season.id}/games/#{game.id}" %> method="post">
                  <input id=<%= "hidden_#{game.id}" %> type="hidden" name="_method" value="delete">
                  <button class="btn btn-sm btn-danger" type="submit">Delete</button>
                </form>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% else %>
    <h4>No Games Posted</h4>
  <% end %>

  <h3>Player Stats</h3>

  <table class="table">
    <thead>
      <tr>
        <th>Player</th>
        <th>Games Played</th>
        <th>Points</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>+/-</th>
        <th>PIM</th>
      </tr>
    </thead>
    <tbody>
      <% @season.players.each do |player| %>
        <tr>
          <td><%= player.name %></td>
          <td><%= player.games_played_in(@season) %></td>
          <td><%= player.points(@season) %></td>
          <td><%= player.count_goals(@season) %></td>
          <td><%= player.count_assists(@season) %></td>
          <td><%= player.plus_minus(@season) %></td>
          <td><%= player.pim(@season) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>