<div class="text-center">
  <h2><%= "#{@game.team.name} - #{@game.season.name} - Game #{@game.game_of_season}" %></h2>

  <p>Date and Time: <%= @game.game_datetime %><p>
  <p>Opponent: <%= @game.opponent %></p>
  <p>At: <%= @game.place %></p>
  <p>Status: <%= @game.status %></p>
  <p>Score: <%= @game.score %></p>


  <h2>Details</h2>
  <div class="my-3 d-flex justify-content-center">
    <h3>Goals</h3>
    <% if owner?(@game) %>
      <a class="mx-3" href=<%= "/games/#{@game.id}/goals/new" %>><button class="btn btn-sm btn-primary">Add Goal</button></a>
    <% end %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Team</th>
        <th>Player</th>
        <th>Assist 1</th>
        <th>Assist 2</th>
        <th>On Ice</th>
      </tr>
    </thead>
    <tbody>
      <tr><th colspan="7">First Period</th></tr>

    </tbody>
  </table>

  <div class="my-3 d-flex justify-content-center">
    <h3>Penalties</h3>
    <% if owner?(@game) %>
      <a class="mx-3" href=<%= "/games/#{@game.id}/penalties/new" %>><button class="btn btn-sm btn-primary">Add Penalty</button></a>
    <% end %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Period</th>
        <th>Time Recorded</th>
        <th>Team</th>
        <th>Player</th>
        <th>Infraction</th>
        <th>Time In Box</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
  </table>
</div>