<div class="mt-3 text-center">
  <div class="d-flex justify-content-center">
    <h2><%= "#{@game.team.name} - #{@game.season.name} - Game #{@game.game_of_season}" %></h2>
    <a class="mx-3 my-auto" href=<%= "/teams/#{@game.team.id}/seasons/#{@game.season.id}" %>><button class="btn btn-sm btn-primary">Back to Season</button></a>
    <% if owner?(@game) %>
      <a class="mr-3 my-auto" href=<%= "/teams/#{@game.team.id}/seasons/#{@game.season.id}/games/#{@game.id}/edit" %>><button class="btn btn-sm btn-primary">Edit Game</button></a>
      <form class="my-auto" action=<%= "/teams/#{@game.team.id}/seasons/#{@game.season.id}/games/#{@game.id}" %> method="post">
        <input id="hidden" type="hidden" name="_method" value="delete">
        <button class="btn btn-sm btn-danger">Delete Game</button>
      </form>
    <% end %>
  </div>

  <p>Date and Time: <%= @game.game_datetime %><p>
  <p>Opponent: <%= @game.opponent %></p>
  <p>At: <%= @game.place %></p>
  <p>Status: <%= @game.status %></p>
  <p>Outcome: <%= @game.win_loss %></p>
  <p>Score: <%= @game.score_formatted %></p>


  <h2>Details</h2>
  
  <div class="my-3 d-flex justify-content-center">
    <h3>Players</h3>
    <% if owner?(@game) %>
      <a class="mx-3 my-auto" href=<%= "/teams/#{@game.team.id}/seasons/#{@game.season.id}/games/#{@game.id}/players" %>><button class="btn btn-sm btn-primary">Add Players</button></a>
    <% end %>
  </div>

  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>+/-</th>
        <th>PIM</th>
      </tr>
    </thead>
    <tbody>
      <% @game.attending_players.each do |player| %>
        <tr>
          <td><%= player.name %></td>
          <td><%= player.count_goals(@game) %></td>
          <td><%= player.count_assists(@game) %></td>
          <td><%= player.plus_minus(@game) %></td>
          <td><%= player.pim(@game) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="my-3 d-flex justify-content-center">
    <h3>Goals</h3>
    <% if owner?(@game) %>
      <% cols = 7 %>
      <a class="mx-3 my-auto" href=<%= "/teams/#{@game.team.id}/seasons/#{@game.season.id}/games/#{@game.id}/goals/new" %>><button class="btn btn-sm btn-primary">Add Goal</button></a>
    <% else %>
      <% cols = 6 %>
    <% end %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Time</th>
        <th>Team</th>
        <th>Player</th>
        <th>Assist 1</th>
        <th>Assist 2</th>
        <th>On Ice</th>
        <% if owner?(@game) %>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% periods.each_with_index do |period, index| %>
        <% period_goals = @game.goals.where(period: index + 1) %>
        <% if !period_goals.empty? %>
          <tr><th colspan=<%= cols %>><%= periods[index] %><%= " Period" if [0, 1, 2].include?(index) %></th></tr>
          <% period_goals.order(:time_scored).each do |goal| %>
            <tr>
              <td><%= goal.time_scored %></td>
              <td><%= goal.team ? goal.team.name : @game.opponent %></td>
              <td><%= goal.player ? goal.player.name : "-" %></td>
              <td><%= goal.assist_players[0] ? goal.assist_players[0].name : "-" %></td>
              <td><%= goal.assist_players[1] ? goal.assist_players[1].name : "-" %></td>
              <% if !goal.on_ice_for_goal_players.empty? %>
                <td>
                  <% goal.on_ice_for_goal_players.each do |player| %>
                    <label for="<%= player.name %>"><%= player.name %></label>
                    <i id="<%= player.name %>" class="fa fa-user"></i>
                  <% end %>
                </td>
              <% else %>
                <td> - </td>
              <% end %>

              <% if owner?(@game) %>
                <td>
                  <a href=<%= "/teams/#{@game.team.id}/seasons/#{@game.season.id}/games/#{@game.id}/goals/#{goal.id}/edit" %>><button class="btn btn-sm btn-primary">Edit Goal</button></a>
                  <form class="d-inline-block" action=<%= "/teams/#{@game.team.id}/seasons/#{@game.season.id}/games/#{@game.id}/goals/#{goal.id}" %> method="post">
                    <input id=<%= "hidden_goal_#{goal.id}" %> type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-sm btn-danger">Delete Goal</button>
                  </form>
                </td>
              <% end %>
            </tr>
          <% end %>

        <% end %>
      <% end %>
    </tbody>
  </table>

  <div class="my-3 d-flex justify-content-center">
    <h3>Penalties</h3>
    <% if owner?(@game) %>
      <a class="mx-3 my-auto" href=<%= "/teams/#{@game.team.id}/seasons/#{@game.season.id}/games/#{@game.id}/penalties/new" %>><button class="btn btn-sm btn-primary">Add Penalty</button></a>
    <% end %>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Time Recorded</th>
        <th>Team</th>
        <th>Player</th>
        <th>Infraction</th>
        <th>Time In Box</th>
        <% if owner?(@game) %>
          <th>Actions</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% periods.each_with_index do |period, index| %>
        <% period_penalties = @game.penalties.where(period: index + 1) %>
        <% if !period_penalties.empty? %>
          <tr><th colspan=<%= cols - 1 %>><%= periods[index] %><%= " Period" if [0, 1, 2].include?(index) %></th></tr>
          <% period_penalties.order(:time_committed).each do |penalty| %>
            <tr>
              <td><%= penalty.time_committed %></td>
              <td><%= penalty.team ? penalty.team.name : @game.opponent %></td>
              <td><%= penalty.player ? penalty.player.name : "-" %></td>
              <td><%= penalty.infraction ? penalty.infraction : "-" %></td>
              <td><%= penalty.length ? penalty.length : "-" %></td>
              <% if owner?(@game) %>
                <td>
                  <a href=<%= "/teams/#{@game.team.id}/seasons/#{@game.season.id}/games/#{@game.id}/penalties/#{penalty.id}/edit" %>><button class="btn btn-sm btn-primary">Edit Penalty</button></a>
                  <form class="d-inline-block" action=<%= "/teams/#{@game.team.id}/seasons/#{@game.season.id}/games/#{@game.id}/penalties/#{penalty.id}" %> method="post">
                    <input id=<%= "hidden_penalty_#{penalty.id}" %> type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn btn-sm btn-danger">Delete Penalty</button>
                  </form>
                </td>
              <% end %>
            </tr>
          <% end %>

        <% end %>
      <% end %>
    </tbody>
  </table>
</div>