<h2>Add Player To: <%= @team.name %></h2>
<form action=<%= "/teams/#{@team.id}/players" %> method="post">
  <input id="hidden_team" type="hidden" name="player[team_id]" value="<%= @team.id %>">
  <label for="name">Name:</label>
  <input id="name" type="text" name="player[name]">
  <br>
  <label for="jersey">Jersey Number:</label>
  <input id="jersey" type="number" name="player[jersey_num]">
  <br>
  <label for="position">Position:</label>
  <select id="position" name="player[position]">
    <% positions.each do |position| %>
      <option value="<%= position %>"><%= position %></option>
    <% end %>
  </select>
  <br>
  <label for="active">Active:</label>
  <input id="active" type="checkbox" name="player[status]" value="true">
  <br>
  <button class="btn btn-primary" type="submit">Add Player</button>
</form>