<div class="mt-3 text-center">
  <h2>Add Goal to <%= "#{@game.team.name} - #{@game.season.name} - Game #{@game.game_of_season}" %></h2>

  <form action=<%= "/games/#{@game.id}/goals" %> method="post">
    <label for="team">Team:</label>
    <select id="team" name="team">
      <option value="us"><%= @game.team.name %></option>
      <option value="them"><%= @game.opponent %></option>
    </select>
    <br>
    <label for="goal_player">Player:</label>
    <select id="goal_player" name="player_id">
      <option value=""></option>
      <% @game.players.each do |player| %>
        <option value=<%= player.id %>><%= "#{player.jersey_num} - #{player.name}" %></option>
      <% end %>
    </select>
    <br>
    <label for="assist_1_player">Assist 1:</label>
    <select id="assist_1_player" name="assist_1_id">
      <option value=""></option>
      <% @game.players.each do |player| %>
        <option value=<%= player.id %>><%= "#{player.jersey_num} - #{player.name}" %></option>
      <% end %>
    </select>
    <br>
    <label for="assist_2_player">Assist 2:</label>
    <select id="assist_2_player" name="assist_2_id">
      <option value=""></option>
      <% @game.players.each do |player| %>
        <option value=<%= player.id %>><%= "#{player.jersey_num} - #{player.name}" %></option>
      <% end %>
    </select>
    <br>
    <label for="period">Period:</label>
    <select id="period" name="period">
      <% periods.each do |period| %>
        <option value=<%= period %>><%= period %></option>
      <% end %>
    </select>
    <br>
    <label for="time_minutes">Time:</label>
    <input id="time_minutes" type="number" name="time_minutes" min="0" max="20"> :
    <input id="time_seconds" type="number" name="time_seconds" min="0" max="59">
    <br>
    <button class="btn btn-primary" type="submit">Add Goal</button>
  </form>
</div>